.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
.page {
    height: 600px;
    margin: auto;
    overflow: auto;
    background-color: red
}
.center{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 130px;
}
.long{
    width: 600px;
}
.image{
    padding: 20px
}
.image2{
    padding: 80px
}
.cen{
    align-items: center; 
    justify-content: center;
}
.cb{
    border-bottom: solid 6px green;  
}
.nm{
display: block; 
align-items: center;
justify-content: center;
}
.flex{
    display: flex; 
align-items: center;
justify-content: center;
}

.bg {
    background-image: url("http://kennedy-rs.com/wp-content/uploads/2017/11/bathroom-suite-ideas-2.jpg")
}
.a{ 
  -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;   
}
.b{
    font-size: 130px;
}
.c{
    font-size: 55px;
}
.ta{
    text-align: center;
}