.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.page {
    height: 600px;
    margin: auto;
    overflow: auto;
    background-color: red
}
.long{
    width: 600px;
}
.image{
    padding: 20px
}
.image2{
    padding: 80px
}
.cb{
    border-bottom: solid 1px blueviolet;  
}
.nm{
display: flex;
align-items: center;
justify-content: center;
}

.bg {
    background-image: url("./pictures/BgHome.jpg");
}

.center {
    padding: 130px; 
}
.a{
   
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1.50px;   
}
.b{
    font-size: 115px;
}
.c{
    font-size: 55px;
}
.ta{
    text-align: center;
}