
.page {
    height: 600px;
    margin: auto;
    overflow: auto;
    background-color: red
}
.long{
    width: 600px;
}
.image{
    padding: 20px
}
.cb{
    border-bottom: solid 1px blueviolet;  
}
.nm{
display: flex;
align-items: center;
justify-content: center;
}

.bg {
    background-image: url("./pictures/BgHome.jpg");
}

.center {
    padding: 130px; 
}